<!DOCTYPE html>
<html>
<head>
    <title>Add note</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="ueditor/ueditor.all.min.js"></script>
</head>
<body>
<form action="?act=save" method="post">
    <p><input type="text" class="form-control" name="title" /></p>
    <textarea name="content" id="myEditor"></textarea>

    <p><input type="submit" value="Submit"/></p>

    <script type="text/javascript">
        var editor = new UE.ui.Editor();
        editor.render("myEditor");
    </script>
</body>
</html>