<!DOCTYPE html>
<html>
<head>
    <title>Add note</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <script type="text/javascript" src="ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="ueditor/ueditor.all.min.js"></script>
</head>
<body>
<form action="?act=save" method="post" role="form">
    <div class="form-group"><input type="text" class="form-control" name="title" value="<?php echo $note['title']; ?>"/></div>
    <textarea name="content" id="myEditor"><?php echo $note['content']; ?></textarea>

    <p>
        <input type="hidden" name="id" value="<?php echo $note['id']; ?>" />
        <input type="submit" value="Submit"/></p>
</form>

<script type="text/javascript">
    var editor = new UE.ui.Editor();
    editor.render("myEditor");
</script>
</body>
</html>