<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
</head>
<body>
<div class="container" style="width:100%;padding: 0px">
    <div class="col-md-3" id="left-nav" style="overflow:auto;background-color: #EEEEEE">
        <form class="form-inline" style="margin:6px">
            <div class="form-group">
                <label class="sr-only" for="searchtxt">Email address</label>
                <input type="text" class="form-control" id="searchtxt" placeholder="Enter text press search">
            </div>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <ul id="note-item-list">
            <?php
            if (isset($notes) && count($notes) > 0) {
            foreach ($notes as $note) {
            echo '
            <li class="note-item-li"><a href="view.php?id='.$note['id'].'" >';
                echo '<span style="font-weight: bold">'.htmlspecialchars(strip_tags($note["title"])).'</span>';
                echo '</a><p style="font-size:smaller;color:gray">'.mb_substr(htmlspecialchars(strip_tags($note["content"])), 0, 64, 'UTF-8').'</p></li>';
            }
            }
            ?>
        </ul>
    </div>
    <div class="col-md-9" style="padding-right: 0px">
        <div style="right:20px;top:10px;position:absolute;z-index:999"><a href="add.php" target="viewnote" class="btn btn-success">New Note</a>
        </div>
        <iframe id="viewnote" name="viewnote" style="width:100%;border:0px;" src="view.php"></iframe>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        var width= window.innerWidth;
        if (width < 800) {
            $('.note-item-li a').each(function() {
                $(this).removeAttr('target').attr('style', 'target-new:tab');
            })
        } else {
            $('.note-item-li a').each(function() {
                $(this).attr('target', "viewnote");
            });
        }
        var height = window.innerHeight-6;
        $('#viewnote').css('height', height);
        $('#left-nav').css('height', height);
    });

    $(window).resize(function(){
        var height = window.innerHeight-6;
        $('#viewnote').css('height', height);
        $('#left-nav').css('height', height);
    });
</script>


</body>
</html>