<!DOCTYPE html>
<html>
<head>
    <title>Add note</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
</head>
<body>
<form action="?act=save" method="post" role="form">
    <div class="form-group"><input type="text" class="form-control" name="title" value="<?php echo $note['title']; ?>"/></div>
    <textarea name="content" id="myEditor"><?php echo $note['content']; ?></textarea>

    <p>
        <input type="hidden" name="id" value="<?php echo $note['id']; ?>" />
        <input type="submit" value="Submit"/>
        Or <a href="list.php">Back to home</a></p>
</form>

</body>
</html>